@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --primary: #199cdb;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  padding: 80px 0;
}

.row {
  padding: 0 16px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* Navigation Bar */

.nav {
  width: 100%;
  height: 80px;
  background-color: #199cdb;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  font-size: 24px;
  color: white;
}

.nav__link {
  margin: 0 8px;
  color: white;
}

.nav__link__button:hover {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.nav__link__button {
  padding: 8px 12px;
  background-color: var(--primary);
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: 500;
}

/* header*/

.header__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.header__paragraph {
  font-size: 1.2rem;
}

.header__button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}
.header__image {
  max-width: 100%;
} /* facem ca si imaginea sa se mica la inspect element*/

/* Products*/

#products {
  background-color: #f6f6f6;
}

.products__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card__icon {
  background-color: var(--primary);
  color: white;
  padding: 20px;
  border-radius: 9999px;
  font-weight: 500;
}
.card__title {
  font-size: 20px;
  font-weight: 500;
}

.card__paragraph {
  line-height: 1.5;
}

.products__title {
  font-weight: 700;
  font-size: 30px;
}

.products__paragraph {
  font-size: 20px;
  font-weight: 300;
  max-width: 600px;
}

/* features*/

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.features__title {
  font-size: 32px;
}

.features__paragraph {
  max-width: 600px;
  line-height: 1.5;
}

.feature {
  display: flex;
  gap: 64px;
  margin-top: 64px;
  max-width: 800px;
}

.feature__image {
  width: 50%;
}

.feature__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  justify-content: center;
}

.feature__title {
  font-weight: 900;
  font-size: 25px;
}

.feature__link {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary);
}

.feature__link:hover {
  text-decoration: underline;
}

/* review*/

#reviews {
  background-color: #f6f6f6;
}

.reviews__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.reviews__title {
  font-size: 32px;
}
.reviews__paragraph {
  max-width: 600px;
  line-height: 1.5;
}

.review {
  display: flex;
}

button {
  cursor: pointer;
}

.review__text,
.review__credit {
  width: 50%;
}

.review__image {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
}
.review__text {
  background-color: var(--primary);
  color: white;
  padding: 32px 30px;
  line-height: 1.5;
}

.review__credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: white;
}

.review__raiting {
  color: gold;
}

/* Pricing*/

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.pricing__title {
  font-size: 32px;
}

.pricing__para {
  max-width: 600px;
  line-height: 1.5;
}

.pricing__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 40px;
  width: 100%;
}

.plan {
  width: 100%;
  height: 510px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 10px 20px 12px rgb(0, 0, 0, 0.1);
  padding: 32px 12px;
}

.plan__title {
  color: var(--primary);
  font-size: 28px;
}

.plan__icon {
  color: var(--primary);
  font-size: 48px;
}

.plan__price {
  color: #199cdb;
  font-size: 25px;
  font-weight: 700;
}

.plan__features {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
}

.plan__feature {
  font-size: 14px;
  font-weight: 500;
}

.plan__button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 32px;
  border-radius: 5px;
}

/* footer*/

.footer {
  height: 65px;
  background-color: var(--primary);
  color: white;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.footer__logo {
  color: white;
  font-weight: 600;
}

.footer__link {
  color: white;
  padding: 0px 10px;
}

/*responsive */

@media (max-width: 760px) {
  .nav__link,
  .nav__link__button {
    font-size: 14px;
  }

  .header__title {
    font-size: 32px;
  }
  .header__paragraph {
    font-size: 14px;
  }
  .header__button {
    font-size: 14px;
  }

  .card {
    width: 50%;
  }

  .feature__title {
    font-size: 20px;
  }
  .features__paragraph {
    font-size: 14px;
  }

  .review__text {
    font-size: 16px;
  }
}

/* for phones*/

@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .header__title {
    font-size: 24px;
  }
  .header__paragraph {
    font-size: 14px;
  }

  .products__title,
  .feature__title,
  .pricing__title,
  .reviews__title {
    font-size: 24px;
  }

  .products__paragraph,
  .features__paragraph,
  .pricing__para,
  .reviews__paragraph {
    font-size: 14px;
  }

  .card {
    width: 100%;
    padding: 20px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__paragraph {
    font-size: 12px;
  }

  .feature {
    flex-direction: column;
  }

  .feature:last-child {
    flex-direction: column-reverse;
  }

  .feature__image {
    width: 100%;
  }
  .feature__text {
    align-items: center;
    text-align: center;
  }

  .review {
    flex-direction: column;
    height: 400px;
    width: 100%;
  }
  .review__text,
  .review__credit {
    width: 100%;
    height: 50%;
  }
  .review__text {
    margin-bottom: 30px;
  }

  .footer__logo {
    display: none;
  }
  .footer__row {
    justify-content: center;
  }

  .footer__link {
    margin: 0 4px;
  }
}
